__pycache__/
logs/*.log
logs/*/*
weights/*/
tests/

datasets/*/*/*.tif
datasets/*/*.txt
datasets/*/*/*.txt
datasets/*/*.csv
datasets/*/*/*.csv
datasets/*/*-slurm.sh

datasets/ecci_test
datasets/emsoft_gap001

weights/*.h5

_old/

slurm_*
*-slurm.sh
*.TIF
*.png
test*.py
