__pycache__/
logs/
weights/*/
tests/

datasets/*/*.tif
datasets/*/*/*.tif
datasets/*/*.txt
datasets/*/*/*.txt
datasets/*/*.csv
datasets/*/*/*.csv

bc_model/
cae_model/
cae_model_dipole2/
cae_model_old/

*.TIF
*.png
