__pycache__/
logs/*.log
logs/*/*
weights/*/
tests/

datasets/*/*.tif
datasets/*/*/*.tif
datasets/*/*.txt
datasets/*/*/*.txt
datasets/*/*.csv
datasets/*/*/*.csv
datasets/*/*-slurm.sh

weights/*.h5

_old/

*-slurm.sh
*.TIF
*.png
